* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  height: 100%;
}

body,
div#root {
  height: 100%;
}

.App {
  text-align: center;
  margin: 0;
  background-color: rgb(255, 255, 255);
  height: 100%;
}

h2 {
  font-size: 0.5em;
}

p.card-text {
  margin-bottom: 0.35rem;
}

a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0.5em;
  margin: -0.5em;
  text-decoration: none;
  color: #209cee !important;
}

a:hover {
  text-decoration: none !important;
  color: #209ceeb7 !important;
}

#parent-window {
  background-color: rgb(207, 207, 207);
  display: inline-block;
  width: 100%;
  height: 100%;
}

#map-element {
  height: 100%;
  width: 100%;
  float: left;
}

#cardtable-container {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 40%;
  max-width: 600px;
  height: auto;
}

#welcome-card {
  position: absolute;
  top: 0%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: auto;
}

.card-text {
  font-size: 1rem;
}

.card-body.card-body {
  font-size: 1rem;
}

.button {
  margin: 5px;
}

.btn.btn {
  font-size: 1rem;
}

#about {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#house-price-map {
  font-family: Courgette;
  font-size: 3rem;
  color: #209cee;
  font-weight: bold;
}

#subtitle {
  text-indent: 1em;
  font-size: 1rem;
  font-style: italic;
}

#locationTextBox {
  margin: 5px;
  margin-top: 0px;
}

@media screen and (max-width: 600px) {
  #map-element {
    height: 76%;
    width: 100%;
    top: 0%;
    float: left;
  }

  #welcome-card {
    top: auto;
    bottom: 0%;
  }

  #cardtable-container {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: auto;
  }

  #house-price-map {
    font-size: 2.2rem;
  }
}
